/*Harsh CSS */

.reset{
	padding:0;
}




#animal-nutrition-banner{
	background: url("../images/animal-nutrition-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	height:500px;
}

#food-and-beverages-banner{
	background: url("../images/food-and-beverages-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	height: 500px;
}


#xanmax-banner{
	background: url("../images/xanmax-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	height: 500px;
}


#tomatene-banner{
	background: url("../images/tomatene-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	height: 500px;
}

#lutest-banner{
	background: url("../images/lutest-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	height: 500px;
}

#about-banner{
	background: url("../images/about-us-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	height: 500px;
}

#nutra-banner{
	background: url("../images/nutraceutical-banner-new.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	height: 500px;
}


.bg-tomatene{
	background: url("../images/tomatene-2.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 850px;
}



.bg-microscope{
	background: url("../images/xanmax-5.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	min-height:250px;
}

.text-microscope{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#666666;
font-size:12pt;
text-align: center;
}

.xi-text{
font-family: 'Montserrat', sans-serif;
font-weight:400;
color:#333333;
font-size:12pt;
}



.main-heading{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#333333;
font-size:24pt;
}

.tomatene-heading{
font-family: 'Montserrat', sans-serif;
font-weight:400;
color:#333333;
font-size:16pt;
}

.link-green-underline{
font-family: 'Montserrat', sans-serif;
font-weight:400;
color:#449314;
font-size:18pt;
text-decoration: underline;
}

.link-green-underline:hover{
	color:#449314;
}

.xanmax-heading{
font-family: 'Montserrat', sans-serif;
font-weight:400;
color:#333333;
font-size:20pt;
}

.xanmax-list{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#333333;
font-size:12pt;
padding-inline-start:10px;
text-align: justify;
}

.xanmax-list li{
	list-style-type: disc;
}

.lutest-list{
font-family: 'Montserrat', sans-serif;
font-weight:500;
color:#333333;
background-color: #fff;
font-size:11pt;
padding:20px;
text-align: left;
padding-inline-start:50px;
box-shadow: 1px 1px 8px #888888;
max-width: 500px;
}

.lutest-list li{
	list-style-type: disc;
}


.sub-orange{
	color: #ef7814;
	font-weight:400;
}

.sub-red{
	color: #e51501;
	font-weight:400;
}


.sub-green{
	color: #53b85a;
	font-weight:400;
}


.main-text{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#666666;
font-size:15pt;
}

.about-text{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#666666;
font-size:13pt;
}


.bg-grey{
	background-color: #F4F3EF;
}

.bg-grey-img{
	background-color: #F4F3EF;
	background-image: url("../images/back-slice.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bg-white{
	background-color: #fff;
}

.bg-sky-blue{
	background-color:#D5ECFE;
}


.an-heading{
font-family: 'Montserrat', sans-serif;
font-weight:600;
color:#333333;
font-size:16pt;

}


.an-text{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#666666;
font-size:13pt;
}

.an-text-2{
font-family: 'Montserrat', sans-serif;
font-weight:500;
color:#333333;
font-size:14pt;
}

.an-text-container{
	padding:60px;
}


.fnb-wbg{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#333333;
	font-size:14pt;
	background-color:#fff;
	padding:10px 30px;
	width:304px;
	margin-top:-15px;
}

.xanmax-wbg{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#333333;
	font-size:14pt;
	background-color:#fff;
	padding:10px 30px;
	width:270px;
	margin-top:-15px;
}

.tomatene-wbg{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#333333;
	font-size:11pt;
	background-color:#fff;
	padding:10px 30px;
	width:210px;
	margin-top:-15px;
}

.fnb-container img{
	max-width:324px;
}

.fnb-container{
	text-align:center;
}

.xanmax-container img{
	max-width:289px;
}

.tomatene-container img{
	max-width:230px;
}

.fnb-sub-para{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	color:#333333;
	font-size:11pt;
}

.fnb-border-lr{
	border-left: 2px solid #EF7917;
	border-right: 2px solid #EF7917;
}

.tomatene-border-lr{
	border-left: 2px solid #e61501;
	border-right: 2px solid #e61501;
	max-height: 142px;
}


.product-usps-logo img{
	max-width: 200px;
	max-height: 150px;
	padding:10px;
}


#sub-menu-sidebar h3{
color:#fff;
text-align: center;
padding:15px 30px;
background-color: #449314;
width:300px;
font-family: 'Montserrat', sans-serif;
font-weight:300;
font-size: 18pt;
}

#sub-menu-sidebar p{
color:#666666;
text-align: center;
padding:15px 30px;
background-color: #F8F8F8;
font-family: 'Montserrat', sans-serif;
font-weight:300;
font-size: 14pt;
margin-bottom: 0px;
border-bottom:1px solid #E2E2E2;
}

.live{
	background-color:#276227 !important;
	border-bottom:none;
}

.live a{
	color:#fff !important;
}


#sub-menu-sidebar a:hover, #sub-menu-sidebar p:hover{
	color:#fff;
	background-color:#276227 !important; 
}


#sub-menu-sidebar a{
	color:inherit;
}



#team1{
	text-align: center;
	background-color:#E6F3E9;
	padding: 5px;
}

#team2{
	text-align: center;
	background-color:#F3F3E7;
	padding: 5px;
}

#team3{
	text-align: center;
	background-color:#F3E9E7;
	padding: 5px;
}


#team1,#team2, #team3{
	max-width: 386px !important;
    margin-bottom: 40px;
}

#ab-back{
	background-image: url("../images/about-us-back.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}


.btn-k{
	color:#449314 !important;
	border:1px solid #449314;
	padding:15px 50px;
	font-size: 11pt;
}

.btn-k:hover{
	background-color: #449314 !important;
	color:#fff !important;
}




.timeline {
  list-style: none;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #539905;
  left: 50%;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
 
  padding: 20px;
 padding-top:0px;
  position: relative;
}



.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -8px;
  background-color: #539905;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #9ACB34 !important;
}



.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}




















@media only screen and (max-width: 320px){
	.fnb-container img{
	max-width:250px;
}

.fnb-wbg{
	width: 230px;
	font-size:1em;
}

.bg-tomatene {
    background-size: 140%;
    min-height: 950px;
}

}

@media only screen and (max-width: 600px) {

#animal-nutrition-banner{
background-size: 100%;
height: 200px;
}


#food-and-beverages-banner{
background-size: 100%;
height: 200px;
}

#xanmax-banner{
background-size: 100%;
height: 200px;
}

#tomatene-banner{
background-size: 100%;
height: 200px;
}

#lutest-banner{
background-size: 100%;
height: 200px;
}

#about-banner{
background-size: 100%;
height: 200px;
}

#nutra-banner{
background-size: 100%;
height: 200px;
}


.an-text-container{
	padding:30px;
}

.an-text{
font-size:0.8em;
	}

}

.bg-tomatene {
    background-size: 140%;
    min-height: 880px;
}

}




@media only screen and (max-width:767px){
	#animal-nutrition-banner{
background-size: 100%;
height: 250px;
}

	#food-and-beverages-banner{
background-size: 100%;
height: 250px;
}

	#xanmax-banner{
background-size: 100%;
height: 250px;
}

	#tomatene-banner{
background-size: 100%;
height: 250px;
}

	#lutest-banner{
background-size: 100%;
height: 250px;
}

	#about-banner{
background-size: 100%;
height: 250px;
}

	#nutra-banner{
background-size: 100%;
height: 250px;
}


}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) and (min-width: 601px) {

#animal-nutrition-banner{
background-size: 100%;
height: 250px;
}


#food-and-beverages-banner{
background-size: 100%;
height: 250px;
}

#xanmax-banner{
background-size: 100%;
height: 250px;
}

#tomatene-banner{
background-size: 100%;
height: 250px;
}

#lutest-banner{
background-size: 100%;
height: 250px;
}

#about-banner{
background-size: 100%;
height: 250px;
}

#nutra-banner{
background-size: 100%;
height: 250px;
}



.an-text-container 
{
	padding:30px;
}

.an-text{
font-size:0.8em;
	}

.bg-tomatene {
    background-size: 130%;
    min-height: 950px;
}

}


@media only screen and (max-width: 992px){

	.fnb-border-lr{
		border:none;
	}

	.tomatene-border-lr{
		border:none;
	}
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

#animal-nutrition-banner{
background-size: 100%;
height:300px;
}

#food-and-beverages-banner{
background-size: 100%;
height:300px;
}

#xanmax-banner{
background-size: 100%;
height:300px;
}

#tomatene-banner{
background-size: 100%;
height:300px;
}

#lutest-banner{
background-size: 100%;
height:300px;
}

#about-banner{
background-size: 100%;
height:300px;
}

#nutra-banner{
background-size: 100%;
height:300px;
}

.fnb-container img{
	max-width:210px;
}

.fnb-wbg{
	width: 190px;
	font-size:0.9em;
}

.an-text-container{
	padding:40px;
}

.an-text{
font-size:0.8em;
	}


	.xanmax-container img{
		max-width: 220px;
	}

	.xanmax-wbg{
		width: 190px;
		font-size: 0.9em;
	}


	.bg-tomatene {
    background-size: 130%;
    min-height: 850px;
}


}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

#animal-nutrition-banner{
background-size: 100%;
height:350px;
}

#food-and-beverages-banner{
background-size: 100%;
height:350px;
}


#xanmax-banner{
background-size: 100%;
height:350px;
}

#tomatene-banner{
background-size: 100%;
height:350px;
}

#lutest-banner{
background-size: 100%;
height:350px;
}

#about-banner{
background-size: 100%;
height:350px;
}

#nutra-banner{
background-size: 100%;
height:350px;
}

.fnb-container img{
	max-width:280px;
}

.fnb-wbg{
	width: 260px;
}

.bg-tomatene{
	background-size: cover;
	min-height: 950px;
}

.tomatene-container img {
    max-width: 210px;
}

.tomatene-wbg{
	width:200px;
}

}


@media only screen and (min-width: 1600px){

#animal-nutrition-banner{
background-size: contain;
background-position: center;
}

#food-and-beverages-banner{
background-size: contain;
background-position: center;
}

#xanmax-banner{
background-size: contain;
background-position: center;
}

#tomatene-banner{
background-size: contain;
background-position: center;
}

#lutest-banner{
background-size: contain;
background-position: center;
}

#about-banner{
background-size: contain;
background-position: center;
}

#nutra-banner{
background-size: contain;
background-position: center;
}


.bg-tomatene{
	background: url("../images/tomatene-2.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 850px;
}


}