.reset{
	padding:0;
}




#animal-nutrition-banner{
	background: url("../images/animal-nutrition-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 500px;
}

#food-and-beverages-banner{
	background: url("../images/food-and-beverages-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 500px;
}


#xanmax-banner{
	background: url("../images/xanmax-banner.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 500px;
}

.bg-microscope{
	background: url("../images/xanmax-5.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	min-height:250px;
}

.text-microscope{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#666666;
font-size:12pt;
text-align: center;
}

.xi-text{
font-family: 'Montserrat', sans-serif;
font-weight:400;
color:#333333;
font-size:12pt;
}



.main-heading{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#333333;
font-size:24pt;
}

.xanmax-heading{
font-family: 'Montserrat', sans-serif;
font-weight:400;
color:#333333;
font-size:20pt;
}

.xanmax-list{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#333333;
font-size:12pt;
list-style-type: none;
padding-inline-start:0px;
text-align: justify;
}


.sub-orange{
	color: #ef7814;
	font-weight:400;
}


.main-text{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#666666;
font-size:15pt;
}


.bg-grey{
	background-color: #F4F3EF;
}

.bg-grey-img{
	background-color: #F4F3EF;
	background-image: url("../images/back-slice.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-white{
	background-color: #fff;
}

.bg-sky-blue{
	background-color:#D5ECFE;
}


.an-heading{
font-family: 'Montserrat', sans-serif;
font-weight:600;
color:#333333;
font-size:16pt;

}


.an-text{
font-family: 'Montserrat', sans-serif;
font-weight:300;
color:#666666;
font-size:13pt;
}

.an-text-2{
font-family: 'Montserrat', sans-serif;
font-weight:500;
color:#333333;
font-size:14pt;
}

.an-text-container{
	padding:60px;
}


.fnb-wbg{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#333333;
	font-size:14pt;
	background-color:#fff;
	padding:10px 30px;
	width:314px;
	margin-top:-15px;
}

.xanmax-wbg{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#333333;
	font-size:14pt;
	background-color:#fff;
	padding:10px 30px;
	width:270px;
	margin-top:-15px;
}

.fnb-container img{
	max-width:344px;
}

.fnb-container{
	text-align:center;
}

.xanmax-container img{
	max-width:289px;
}

.fnb-sub-para{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	color:#333333;
	font-size:11pt;
}

.fnb-border-lr{
	border-left: 2px solid #EF7917;
	border-right: 2px solid #EF7917;
}


@media only screen and (max-width: 320px){
	.fnb-container img{
	max-width:250px;
}

.fnb-wbg{
	width: 230px;
	font-size:1em;
}

}

@media only screen and (max-width: 600px) {

#animal-nutrition-banner{
background-size: 100%;
height: 270px;
}


#food-and-beverages-banner{
background-size: 100%;
height: 270px;
}


.an-text-container{
	padding:30px;
}

.an-text{
font-size:0.8em;
	}

}

}







/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {

#animal-nutrition-banner{
background-size: 100%;
height: 300px;
}


#food-and-beverages-banner{
background-size: 100%;
height: 300px;
}



.an-text-container 
{
	padding:30px;
}

.an-text{
font-size:0.8em;
	}

}


@media only screen and (max-width: 992px){

	.fnb-border-lr{
		border:none;
	}
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

#animal-nutrition-banner{
background-size: 100%;
height:400px;
}

#food-and-beverages-banner{
background-size: 100%;
height:400px;
}

.fnb-container img{
	max-width:210px;
}

.fnb-wbg{
	width: 190px;
	font-size:0.9em;
}

.an-text-container{
	padding:40px;
}

.an-text{
font-size:0.8em;
	}


	.xanmax-container img{
		max-width: 220px;
	}

	.xanmax-wbg{
		width: 190px;
		font-size: 0.9em;
	}
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

#animal-nutrition-banner{
background-size: 100%;
height:450px;
}

#food-and-beverages-banner{
background-size: 100%;
height:450px;
}

.fnb-container img{
	max-width:280px;
}

.fnb-wbg{
	width: 260px;
}

}


@media only screen and (min-width: 1600px){

#animal-nutrition-banner{
background-size: contain;
height:700px;
}

#food-and-beverages-banner{
background-size: contain;
height:700px;
}


}